{:paths       ["src", "resources", "classes"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}

  ;; Telegram API wrapper
  telegrambot-lib/telegrambot-lib {:mvn/version "2.12.0"}
  ;; json parsing
  metosin/jsonista {:mvn/version "0.3.8"}
  ;; validation
  metosin/malli {:mvn/version "0.14.0"}
  ;; http server
  http-kit/http-kit {:mvn/version "2.7.0"}
  ;; logging
  com.taoensso/telemere {:mvn/version "1.0.0-beta10"}}

 :aliases
 {:nrepl {:extra-deps {com.health-samurai/matcho     {:mvn/version "0.3.11"}
                       cider/cider-nrepl             {:mvn/version "LATEST"}
                       refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}}
          :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                        "-Djdk.attach.allowAttachSelf"]
          :extra-paths ["test"]
          :main-opts   ["-m" "nrepl.cmdline" "--middleware"
                        "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}}}
